<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>逐层刷新图片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16E489531DE7D0B9008FCC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E4896C1DE7D0BA008FCC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16E489771DE7D0BA008FCC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
